
body{
    margin: 0;
}

.head{background: #e2265f;}

.head i{
    font-size: larger;
}

.head a{
    text-decoration: none; 
    color: white;
}

.head a:hover{

    color: aquamarine;
}

span{
    color: #e2265f;
    margin-left: 20px;
   
}



button{
    background:#e2265f;
    border: #e2265f;
    padding: 8px 18px;
    color: aliceblue;
}

button:hover{
    background-color: aquamarine;
    color: black;
}


nav a{
    text-decoration: none;
color: white;
border: 2px;
font-size: large;



}


nav a:hover{
    color: aliceblue;
    background-color: #e2265f;
}

/* .info{

    display: flex;
    justify-content:space-between;
    align-items: center;
} */
.info p{
    font-size: smaller;
    padding: 2px;
    margin: 0;
}


.info h6{
    font-size: small;
    color: #e2265f;
    }


.map h5{

    color:#e2265f;
    
}

.footer p{

    font-size:xx-small;

}





    .back{
        background-image:url(images/bg.png);
        background-repeat:nono-repeat;
        background-size:cover;
        background-position:center;
        background-attachment:fixed;
        }
    
     .card {
         position: relative;
         display: flex;
         flex-direction: column;
         margin:15px;
         min-width: 0;
         word-wrap: break-word;
         text-align:left;
         background-clip: border-box;
         color:black;
         box-shadow: 0 4px 20px 0 rgba(0,0,0,0.5);
         transition: 0.3s;
         border:none;
     }
    .card-body{
        height:150px;
        
        }
    .card-content{
        position:relative;
        height:100px;
        }
    .card-content p{
        margin:0;
        position:absolute;
        bottom:0;
        left:11%;
        }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
        }

        .topbot{
            padding-top:50px;
            padding-bottom:100px;
            }


            
/*toggle*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    /* left: 0; */
    right:0;
    background-color:rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:0px;
  }
  
  .sidenav a {
    margin-top:25px ;
    line-height:50px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #f1ffef;
    display: block;
    transition: 0.3s;
    text-align:center;
    margin-left: 0;
    padding-left: 0;
  }
  
  .sidenav a:hover {
    color:rgba(207,205,205,1.00);
    background-color:rgba(0,0,0,1.00);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 7px;;
    right: 25px;
    font-size: 70px;
    margin-right: 50px;
    width:50px;
    color: rgb(35, 122, 67) ;
    z-index: 500;
    
  }
  /* .sidenav h4{
      position:absolute;
      top:27px;
      right:80px;
      } */
  .sidenav h6{
      font-family: 'Poppins', sans-serif;
 
      padding: 0;

      }
  


 
  .toggle span{

    
    display: flex;
    
      font-size:50px; 
      color:rgb(0, 0, 0);; 
      cursor:pointer; 


      position: absolute;
    top: 0;
    right: 25px;
   
    margin-left: 50px;
    width:50px;
    
         
      } 


      .sidenav i{
         font-size: 3rem;
         margin-left: 2rem;
         margin-top: 2rem;
         margin-bottom: 4rem;
         color: rgb(35, 122, 67) ;
      }
